body{
    background: rgb(23,204,34);
    background: radial-gradient(circle, rgba(23,204,34,1) 5%, rgba(13,222,223,1) 100%);
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

img{
    border-radius: 50%;
    border: 2px solid turquoise;
    width: 150px;
    transition: transform 0.3s ease-in-out;
    height: 150px;
    object-fit: cover;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

img:hover{
    transform: scale(1.1);
}

.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: green;
    color: white;
}

.navbar a{
    margin: 10px auto;
    display: flex;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar a:hover{
    background-color: cadetblue;
}