body{
    background: rgb(23,204,34);
    background: radial-gradient(circle, rgba(23,204,34,1) 5%, rgba(13,222,223,1) 100%);
    color: #333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section{
    padding: 40px;
    background: cornflowerblue;
    border-radius: 8px;
    margin: 20px;
}

.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: green;
    color: white;
}

.navbar a{
    margin: 10px auto;
    display: flex;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar a:hover{
    background-color: cadetblue;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
  }